
/*BODY STUFF*/
body {
    margin-left: 5vw ;
    background-color: #FAF0DB;
    color: #502419;
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
}
p{
    margin-right: 30vw ;
    font-size: 1.5em;
    line-height: 1.8;
    display: flex;
}
p img{

}
h1{
    margin-top: 130px;
    margin-right: 0px;
    padding-right: 200px;
    font-family: 'Shrikhand', serif;
    font-weight: 500;
    font-size: 4.25em ;
    color: #BF3100;
    display: flex;
    justify-content: space-between;
}
h2{
    margin-top: -40px;
    margin-bottom: -20px;
    margin-right: 0px;
    font-family: "Koh Santepheap", serif;
    font-weight: 700;
    color: #EC9F05;
    font-size: 2.5em;
    position: relative;

}
.Portrait{
    
    padding: 0;
    margin-right: -10px;
    margin-bottom: 0;
    margin-top: -50px;
    max-width: 100%;
    width: 250px;
    border: 0;
    height: auto;
    
}


/* LINES */
.Line1{
    margin-top: 100px;
    margin-left: -100px;
    position: absolute;
}



/* HEADER STUFF */
.page-header {
    display: flex;                
    justify-content: space-between; 
    padding: 20px 5%;             
    background-color: #FAF0DB;
    
}
.ROY{
    margin-right: -20px;
    width: 103%;
    float: right;
    height: 100%;
    min-width: 100%;
    
}

.logo { /*BIG LANDON OLESKY TEXT*/
    font-size: .8rem + 0.2vw;
    margin-left: -20px;
    font-family: 'Shrikhand', serif;
}

.page-header ul {
    display: flex;                
    list-style: none;             
    padding: 0;
    margin: 0;
}

.page-header li {
    margin-left: 30px;            
    cursor: pointer;
    text-align: center; 
    font-family: "Koh Santepheap", serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #502419;
    
}

img {
    /* display: block; */
    
}




@media screen and (max-width: 768px) {
        
        body {
            margin-left: 50px;
        }
        .logo{
            margin-left: -20px;
        }
        h1 {
            font-size: 2.5em; /* Example: adjust heading size */
            margin-right: -180px;
        }
        h2{
            margin-top: -10px;
            font-size: 1.8em; /* Example: adjust subheading size */
            margin-right: 0px;
        }
        .Portrait{
            
            width: 125px;
        }
        p {
            margin-top: 30px;
            font-size: 1.2em; /* Example: adjust paragraph size */
            margin-right: 50px;
        }
    }
