
/*BODY STUFF*/
body {
    margin-left: 5vw ;
    background-color: #FAF0DB;
    color: #502419;
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
}
.About p{
    margin-right: 45vw;
}
p{
    margin-right: 30vw ;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.8;
    display: flex;
}
p img{

}
h1{
    margin-top: 130px;
    margin-right: 0px;
    padding-right: 200px;
    font-family: 'Shrikhand', serif;
    font-weight: 500;
    font-size: 4.25em ;
    color: #BF3100;
    display: flex;
    justify-content: space-between;
}
h2{
    margin-top: 0px;
    margin-bottom: -20px;
    margin-right: 0px;
    font-family: "Koh Santepheap", serif;
    font-weight: 700;
    color: #EC9F05;
    font-size: 2.5em;
    position: relative;

}

.Portrait{
    
    padding: 0;
    margin-right: -10px;
    margin-bottom: 0;
    margin-top: -50px;
    max-width: 100%;
    width: 250px;
    border: 0;
    height: auto;
    
}
.Resume{
    
    position: absolute;
    float: right;
    right: 0;
    width: 42vw;
    margin-right: 20px;
    
}
.Resume2{
    
    display: none;
    width: 80vw;
    
}


/* LINES */
.Line1{
    margin-top: 100px;
    margin-left: -100px;
    position: absolute;
}



/* HEADER STUFF */
.page-header {
    display: flex;                
    justify-content: space-between; 
    padding: 20px 5%;             
    background-color: #FAF0DB;
    
}
.ROY{
    margin-right: -20px;
    width: 103%;
    float: right;
    height: 100%;
    min-width: 100%;
    
}

.logo { /*BIG LANDON OLESKY TEXT*/
    font-size: .8rem + 0.2vw;
    margin-left: -20px;
    font-family: 'Shrikhand', serif;
}

.page-header ul {
    display: flex;                
    list-style: none;             
    padding: 0;
    margin: 0;
}

.page-header li {
    margin-left: 30px;            
    cursor: pointer;
    text-align: center; 
    font-family: "Koh Santepheap", serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #502419;
    
}

img {
    /* display: block; */
    
}

.projects-container {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-right: 5vw;
    flex-wrap: wrap;
}

.project-box {
    background-color: rgba(236, 159, 5, 0.15);
    border-radius: 15px;
    padding: 30px;
    flex: 1;
    min-width: 300px;
    max-width: calc(50% - 20px);
}

.project-box:first-child {
    background-color: rgba(250, 184, 192, 0.4);
}

.project-box:last-child {
    background-color: rgba(236, 159, 5, 0.15);
}

.project-title {
    font-family: "Koh Santepheap", serif;
    font-weight: 700;
    font-size: 2em;
    color: #502419;
    margin-top: 0;
    margin-bottom: 20px;
}

.project-content {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-image {
    width: calc(50% - 8px);
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.project-image-single {
    width: 60%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.unity-logo {
    
    width: 48%;
    height: auto;
    object-fit: contain;
}

.project-description {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    margin-right: 0;
}





@media screen and (max-width: 868px) {
        
        body {
            margin-left: 50px;
        }
        .logo{
            margin-left: -20px;
        }
        h1 {
            margin-top: 80px;
            font-size: 2.5em; /* Example: adjust heading size */
            margin-right: -180px;
        }
        h2{
            margin-top: -10px;
            font-size: 1.8em; /* Example: adjust subheading size */
            margin-right: 0px;
        }
        .Portrait{
            
            width: 125px;
        }
        p {
            margin-top: 30px;
            font-size: 1.2em; /* Example: adjust paragraph size */
            margin-right: 50px;
        }
        .About img.Resume{
            display: none;
        }
        .About p{
            margin-right: 5vw;
            display: absolute;
            float: none;
            right: 0;
        }
        .Resume2{
            display:flex;
            padding: 0;
            margin-right: 5vw;
            margin-left: 5vw;
            max-width: 100%;
            width: 80vw;
        }
        
    .projects-container {
        flex-direction: column;
        margin-right: 50px;
    }
    
    .project-box {
        max-width: 100%;
    }
    
    .project-image,
    .project-image-single,
    .unity-logo {
        width: 100%;
    }
    
    .project-title {
        font-size: 1.5em;
    }
        
        
    }



